body{
  background: #FFF9F1;
}

#titie {
  background: #A61C1C;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin: 20px auto;
}

#titie h1{
  text-align: center;
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  background: #A61C1C;
  border-color: ##851414;
}

.post-group {
  display: flex;
  flex-wrap: wrap;
}

ul.post-group {
  margin: 0;
  padding: 0;
}

.post-group-item {
  display: block;
  list-style: none;
  padding-bottom: 15px;
  padding-top: 15px;
}

.post-group-item > a {
  display: block;
  color:#666666;
  background: #ffffff;
  text-decoration: none;
  border: 1px solid #cccccc;
  padding: 8px;
  border-radius: 5px;
}

.post-group-item .postimg img:hover{
  opacity: 0.8;
  filter: Alpha(Opacity=80);
}

.post-group-item .postdate {
  font-size: 90%;
  display: block;
}

.post-group-item .posttitle {
  line-height: 1.1;
}

.post-group-item p {
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  padding: 0 5px;
}

.post-group-item .postbtn:hover {
  background: #a61c1c;
  border-color: #851414;
}

.post-group-item .postimg {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
}

.post-group-item .postbtn {
  font-size: 90%;
  display: block;
  background: #337AB7;
  border-color: #2e6da4;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .post-group-item .postimg {
    width: 200px;
  }

  .post-group-item .postbtn {
    margin: -30px 0 3px auto;
  }
}

@media (min-width: 992px) {
  .post-group-item .postimg {
    width: 100%;
  }

  .post-group-item .postbtn {
    margin: 0 auto;
  }
}

.list-group-item{
  border:none;
  padding: 10px;
  background: none;
}

.list-group-item a{
  display: block;
  color:#666666;
  text-decoration: none;
  border: 1px solid #cccccc;
  padding: 8px;
  border-radius: 5px;
  background: #ffffff;
}

.list-group-item a:hover{
  background: #FFFDF8;
}

.list-group-item .postimg{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.list-group-item img{
    width: 200px;
}
.list-group-item img:hover{
  opacity: 0.8;
  filter: Alpha(Opacity=80);
}

.list-group-item p{
    display: inline-block;
    margin-top: 10px;
    text-align: left;
    padding: 0 5px;
}

.list-group-item .postdate{
  font-size: 90%;
  display: block;
}

.list-group-item .posttitle{
  line-height: 1.1;
}

.list-group-item .postbtn{
  font-size: 90%;
  display: block;
  margin: 3px 0 3px auto;
  background: #337AB7;
  border-color: #2e6da4;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 5px;
  width: 100px;
  text-align: center
}

.list-group-item div.postbtn:hover{
  background: #A61C1C;
  border-color: ##851414;
}

@media (min-width: 530px){
  .list-group-item .postbtn{
    margin: -30px 0 3px auto;
  }
}

@media (min-width: 992px){

  .list-group-item a{
    text-align: center;
  }

  .list-group-item img{
    display: block;
    margin: 3px auto;
  }
  .list-group-item p{
    display:block;
  }

  .list-group-item .postbtn{
    margin: 3px auto;
    width: 100px;
  }
}
